<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="vendor/autoload.php" backupGlobals="false" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage>
    <include>
      <directory suffix=".php">src/</directory>
    </include>
  </coverage>
  <!--backupStaticAttributes      = "false"-->
  <!--colors                      = "true"-->
  <!--convertErrorsToExceptions   = "true"-->
  <!--convertNoticesToExceptions  = "true"-->
  <!--convertWarningsToExceptions = "true"-->
  <!--processIsolation            = "false"-->
  <!--stopOnFailure               = "false"-->
  <!--syntaxCheck                 = "false"-->
  <testsuites>
    <testsuite name="NginxProxyManager Test Suite">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
  <php>
    <env name="NGINX_PROXY_MANAGER_IDENTITY" value=""/>
    <env name="NGINX_PROXY_MANAGER_SECRET" value=""/>
    <env name="NGINX_PROXY_MANAGER_ACCESS_TOKEN" value=""/>
  </php>
</phpunit>
